<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Philip Jun</title>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="jquery.onepage-scroll.js"></script>
<link ref="stylesheet" type="text/css" href="onepage-scroll.css">

</head>
<body>

<div class="main">
  <li>
    <section id="intro">
      <h1>My homes on the web</h1>
      
      <p>How’s it going? </p>

    </section>
  </li>

  <li>
    <section id="mid">
      <h1>My homes on the web</h1>
      
      <p>How’s it going? </p>

    </section>
  </li>

  <li>
    <section id="end">
      <h1>My homes on the web</h1>
      
      <p>How’s it going? </p>

    </section>
  </li>

</div>
  
</body>
</html>

