<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
 <meta name="viewport" content="width=device-width">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</head>
<body>

<div id="fullpage">

  <div class="section fp-section fp-table active" id="section0" data-anchor="#1">

    <div class="intro">
      <h1 data-scrollreveal="enter top, after 0.2s">Hello</h1>
    
      <p data-scrollreveal="enter left, after 0.4s">My name is <strong>Philip</strong> and I am a passionate 
        Full-Stack <strong>Web Developer</strong> based in <strong>Toronto, ON</strong>
        </p>
    
      </div>

      <div id="photo" data-scrollreveal="enter left and move 50px over 1.33s">
        <img src="/assets/profile.png">
      </div>

    
  </div>
</div>

<div class="section fp-section fp-table" id="section1" data-anchor="#2">
      
  <section id="mid">
  <h1>Portfolio</h1>
    <div class="pshow">
      
        <div id="crowdfunder">
          <ul class="img-list">
            <li>
              <a class="thumb" href="/portfolio/crowdfunder">
                <img src= "/assets/cfthumb.png">
                <span class="text-content"><span>Crowdfunder</span></span>
              </a>
            </li>
          </ul>

          </div>
    

        <div id="seatyourself">

          <ul class="img-list">
            <li>
              <a class="thumb" href="/portfolio/seatyourself">
                <img src= "/assets/s1t.png">
                <span class="text-content"><span>Seatyourself</span></span>
              </a>
            </li>
          </ul>
        </div>

    </div>
  </section>
</div>
  

<div class="section fp-section fp-table" id="section2" data-anchor="#3">
  <section id="blog">
    <h1>Blog</h1>
      <div class="blogbox">
        <h1>Latest Post</h1>
          <%= Post.last.created_at.strftime("%d %b 20%y") %>
        <h2>
          <a href="/posts">
          <%= Post.last.title %>
        </h2>
        <p>
          <%= Post.last.text %>
        </p>
          </a>
      </div>
  </section>
</div>

<div class="section fp-section fp-table" id="section3" data-anchor="#4">

  <section id="end">
    <h1>Contact</h1>
    <div id="boxes">
      <div class="box mail">
        <a href="mailto:&#99;ontact&#64;&#112;hilipjun.co&#109;?">
         &#67;ontact&#64;&#112;hilipjun.co&#109;
          </a>
       </div>

       <div class="box github">
        <a href="https://github.com/philipjun" target="_blank"> &#80;hilipjun</a>
        </div>

        <div class="box linkedin">
          <a href="http://ca.linkedin.com/in/philipjun/" target="_blank"> &#80;hilipjun</a>
        </div>

<!--         <div class="box twitter">
          <a href="https://twitter.com/PhilJun7">&#64;&#80;hiljun7</a>
        </div> -->

    </div>
  </section>
  

</div>

  
</body>
</html>

