<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Philip Jun</title>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="jquery.onepage-scroll.js"></script>
<link ref="stylesheet" type="text/css" href="onepage-scroll.css">

</head>
<body>

<div class="main">
  <section id="intro">
    <h1>Hello</h1>
      
      <p>My name is Philip Jun and I am an aspiring Full-Stack Web Developer. I am a recent May graduate from Bitmaker Labs in the Web Development Program and am passionate about technology and coding. 

      </p>
  </section>

  
  <section id="mid">
    <h1>Portfolio</h1>
    
    <p>How’s it going? </p>

  </section>
  

  
  <section id="end">
    <h1>Contact</h1>
    <div id="contact">
      
        <a href="mailto:contact@philipjun.com?"><i class="fi-mail"></i>Contact at philipjun.com</a>
        <br />
        <a href="https://github.com/philipjun"><i class="fi-social-github"></i>Philipjun</a>
        <br />
        <a href="http://ca.linkedin.com/in/philipjun/"><i class="fi-social-linkedin"></i>Philipjun</a>
        <br />
        <a href="https://twitter.com/PhilJun7"><i class="fi-social-twitter"></i>Philjun7</a>
      
    </div>
  </section>
  

</div>
  
</body>
</html>

