<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Philip Jun</title>



</head>
<body>

  <ul class="curtains">
  <li>
    <section id="intro">
      <h1>My homes on the web</h1>
      
      <p>How’s it going? </p>

    </section>
  </li>

  <li>
    <section id="mid">
      <h1>My homes on the web</h1>
      
      <p>How’s it going? </p>

    </section>
  </li>

  <li>
    <section id="end">
      <h1>My homes on the web</h1>
      
      <p>How’s it going? </p>

    </section>
  </li>

</ul>
  
</body>
</html>

