<div class="navbar">
  <a href="/">Home Page</a>
  <a href="/portfolio/seatyourself">Next Page</a>
</div>

<div class="ppanel">
  <div class="pdesc">
    <h1><span>Crowdfunder</span></h1>
    <div class="borderc"></div>

    <p>Crowdfunder is a crowdfunding platform inspired by Kickstarter, that allows users to create projects and pledge against existing projects.</p>
  </div>

  <div class="lightbox">

  <ul class="clearing-thumbs clearing-feature" data-clearing>
    <li><a href="/assets/cfc.png"><img src="/assets/cfs3.png"></a></li>
    <li class="clearing-featured-img"><a href="/assets/cfa.png"><img src="/assets/cfs1.png" ></a></li>
    <li><a href="/assets/cfb.png"><img src="/assets/cfs2.png"></a></li>
</ul>

</div>

  <div class="pfeat">
    <h1><span>Features</span></h1>
    <div class="border2c"></div>
      
    <p>
      Built using Ruby on Rails 4 
      <br />
      Upload images through Carrierwave
      <br />
      AJAX on pledges, comments, and pledge status
      <br />
      Foundation 5 responsive framework
      <br />
      Sorcery user authentication
      <br />
      Infinite scroll on projects
      <br />
    </p>
  </div>


  <div class="pskills">

  </div>

</div>