<div class="section fp-section fp-table" id="section1" data-anchor="#2">
      
  <section id="mid">
  <h1 data-scrollreveal="enter left">Portfolio</h1>
    <div class="pshow" data-scrollreveal="enter bottom and move 20px after 0.2s">
      <div id="crowdfunder">
        <ul class="img-list">
          <li>
            <a class="fancybox" rel="portfolio1" href="/assets/cfb.png">
            <a class="fancybox" rel="portfolio1" href="/assets/cfc.png">
            <a class="fancybox" rel="portfolio1" href="/assets/cfa.png">
              <img src= "/assets/cfthumb.png">
              <span class="text-content"><span>Crowdfunder</span></span>
            </a>
          </li>
        </ul>
      </div>    
<!--       <div id="seatyourself">
        <ul class="img-list">
          <li>
            <a class="fancybox" rel="portfolio2" href="/assets/s2.png">
            <a class="fancybox" rel="portfolio2" href="/assets/s3.png">
            <a class="fancybox" rel="portfolio2" href="/assets/s1.png">
              <img src= "/assets/s1t.png">
              <span class="text-content"><span>Seatyourself</span></span>
            </a>
          </li>
        </ul>
      </div> -->
      <div id="mini-showcase">
        <ul class="img-list">
          <li>
            <a href="/portfolio/mini">
            <img src= "/assets/mini-dp.jpg" class="portfolio-showcase-dp">
            <span class="text-content og"><span>MINI</span></span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </section>
</div>
  