<html>
<head>
<title>Knight the 50k MINI</title>
</head>
<body>

<div class="mini-body">
  <div class="row">
    <div class="mini-top-banner">
      <img src="/assets/mini-top-banner.jpg" class="mmd" alt="banner">
      <img src="/assets/mini-top-mobile.jpg" class="mmv" alt="banner">
    </div>
    <div class="mini-banner-text">
      <p>
      We took to the streets with our trusty squire and noble steed, to drum up support for our cause, to knight His Fastness, the 50,000th MINI in Canada by Her Majesty, The Queen.
      <br/>
      Pledge your support towards our valiant quest in the form below or through Facebook and Twitter via #KNIGHTTHE50KMINI. And together we can make a legend that will be told for years to come!
      </p>
      <div class="saga">
        <img src="/assets/MINI-saga.jpg" alt="saga">
      </div>
      <div class="flex-video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/VwzsQggVoXs" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="talk-row">
      <div class="talk">
        <div class="small-12 columns medium-7 columns">
          <img src="/assets/MINI-talk.jpg" class="mmd" alt="talk">
          <img src="/assets/Slice-talk.jpg" class="mmv" alt="talk">
          <div class="mini-post">
            <img src="/assets/MINI-randompost.jpg" class="mini-random-post">
          </div>
        </div>
      </div>

      <!-- MINI PLEDGE BOX BEGINS HERE -->
       <div class="pledge">
         <div class="small-12 columns medium-5 columns">
           <img src="/assets/MINI-Pledge.jpg" class="mmd" alt="pledge">
           <img src="/assets/Slice-pledge.jpg" class="mmv" alt="pledge">
          <div class="mini-contact">
            <p>Sign hither, and tell your tale why the 50,000th MINI in Canada should be knighted.</p>
            <!-- MINI PLEDGE BOX FORM BEGINS HERE -->
             <input type="text" class="mini-input" placeholder="First Name:">
             <input type="text" class="mini-input" placeholder="Last Name:">
             <input type="text" class="mini-input" placeholder="Email:">
             <br />
             <textarea class="mini-area" placeholder="Please type here:"></textarea>
             <img src="/assets/mini-submit.jpg" class="mini-submit" alt="submit button">
            <!-- MINI PLEDGE BOX FORM ENDS HERE -->             
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mini-gallery">
      <img src="/assets/MINI-gallery.jpg" class="mmd" alt="gallery">
      <img src="/assets/Slice-gallery.jpg" class="mmv" alt="gallery">
    </div>

    <div class="mini-gallery-slider">    
      <ul class="img-list">
        <a class="fancybox-mini" rel="mini-g1" href="/assets/pic-1.jpg">
          <img src="/assets/tb1.jpg" alt="image01"/>
        </a>
        <a class="fancybox-mini" rel="mini-g1" href="/assets/pic-2.jpg">
          <img src="/assets/tb2.jpg" alt="image02"/>
        </a>
        <a class="fancybox-mini" rel="mini-g1" href="/assets/pic-3.jpg">
          <img src="/assets/tb3.jpg" alt="image03"/>
        </a>
        <a class="fancybox-mini" rel="mini-g1" href="/assets/pic-4.jpg">
          <img src="/assets/tb4.jpg" alt="image04"/>
        </a>
        <a class="fancybox-mini" rel="mini-g1" href="/assets/pic-5.jpg">
          <img src="/assets/tb5.jpg" alt="image05"/>
        </a>
        <a class="fancybox-mini" rel="mini-g1" href="/assets/pic-6.jpg">
          <img src="/assets/tb6.jpg" alt="image06"/>
        </a>
      </ul>
    </div>
  </div>
</div>  


</body>








</html>
