<div class="mini-body">
  <div class="row">
    <div class="large-12-columns">
    <div class="mini-top-banner">
      <img src="/assets/mini-top-banner.jpg">
<!--       <div class="mini-banner-spacer"></div>
      <div class="mini-banner-text">
        <h1>KNIGHT THE 50K MINI.</h1>
          <p>Hear ye, hear ye! After 12 valiant years, the 50,000th MINI in Canada is upon us. We are embarking on a noble quest to obtain support and signatures to have this special car knighted by Her Majesty, The Queen!
          <br/><br/>
          Follow the road towards knighthood with #KNIGHTTHE50KMINI. 
          </p>
      </div> -->
    </div>

    We took to the streets with our trusty squire and noble steed, to drum up support for our cause, to knight His Fastness, the 50,000th MINI in Canada by Her Majesty, The Queen.

    Pledge your support towards our valiant quest in the form below or through Facebook and Twitter via #KNIGHTTHE50KMINI. And together we can make a legend that will be told for years to come!

    <div class="mini-container">
      <div class="saga">
        <img src="/assets/mini-saga.jpg">
      </div>
      <div class="flex-video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/VwzsQggVoXs" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="talk">
      <div class="small-7 columns">
        <img src="/assets/MINI-talk.jpg">
        <div class="mini-post">
          <img src="/assets/MINI-randompost.jpg" class="mini-random-post">
        </div>
      </div>
    </div>

    <div class="pledge">
      <div class="small-5 columns">
        <img src="/assets/MINI-pledge.jpg">
        <div class="mini-contact">
          <img src="/assets/MINI-contact.jpg" class="mini-contact-form">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mini-gallery">
      <img src="/assets/MINI-gallery.jpg">
    </div>
    <div class="mini-showcase slider slider-for slick-initialized slick-slider">

    </div>

    <div class="mini-showcase slider-nav">
      <div><img src="/assets/tb1.jpg"></div>
      <div><img src="/assets/tb2.jpg"></div>
      <div><img src="/assets/tb3.jpg"></div>
      <div><img src="/assets/tb4.jpg"></div>
    </div>

  </div>




<!-- <img src="/assets/top-banner.jpg">
<img src="/assets/MINI-talk.jpg">

<img src="/assets/MINI-randompost.jpg">
<img src="/assets/MINI-contact.jpg">
<img src="/assets/MINI-gallery.jpg"> -->
</div>  

