<html>
<head>
<title>Knight the 50k MINI</title>
</head>
<body>

<div class="mini-body">
  <div class="row">
    <div class="large-12-columns">
    <div class="mini-top-banner">
      <img src="/assets/mini-top-banner.jpg" class="mmd" alt="banner">
      <img src="/assets/mini-top-mobile.jpg" class="mmv" alt="banner">
    </div>
    <div class="mini-banner-text">
      <p>
      We took to the streets with our trusty squire and noble steed, to drum up support for our cause, to knight His Fastness, the 50,000th MINI in Canada by Her Majesty, The Queen.
      <br/>
      Pledge your support towards our valiant quest in the form below or through Facebook and Twitter via #KNIGHTTHE50KMINI. And together we can make a legend that will be told for years to come!
      </p>
      <div class="saga">
        <img src="/assets/MINI-saga.jpg" alt="saga">
      </div>
      <div class="flex-video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/VwzsQggVoXs" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>

  <div class="talk-row">
    <div class="talk">
      <div class="small-12 columns medium-7 columns">
        <img src="/assets/MINI-talk.jpg" class="mmd" alt="talk">
        <img src="/assets/Slice-talk.jpg" class="mmv" alt="talk">
        <div class="mini-post">
          <img src="/assets/MINI-randompost.jpg" class="mini-random-post">
        </div>
      </div>
    </div>

    <div class="pledge">
      <div class="small-12 columns medium-5 columns">
        <img src="/assets/MINI-pledge.jpg" class="mmd" alt="pledge">
        <img src="/assets/Slice-pledge.jpg" class="mmv" alt="pledge">
        <div class="mini-contact">
          <img src="/assets/MINI-contact.jpg" class="mini-contact-form" alt="contact">
          <img src="/assets/Slice-contact.jpg" class="mmv" alt="contact">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mini-gallery">
      <img src="/assets/MINI-gallery.jpg" class="mmd" alt="gallery">
      <img src="/assets/Slice-gallery.jpg" class="mmv" alt="gallery">
    </div>

    <div id="rg-gallery" class="rg-gallery">
      <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
          <div class="es-nav">
            <div class="es-nav-prev">Previous</div>
            <span class="es-nav-next">Next</span>
          </div>
          <div class="es-carousel">
            <ul>
              <li>
                <a href="#">
                  <img src="/assets/tb1.jpg" data-large="/assets/pic-1.jpg" alt="image01" data-description="Picture description" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/tb2.jpg" data-large="/assets/pic-2.jpg" alt="image01" data-description="Picture description" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/tb3.jpg" data-large="/assets/pic-3.jpg" alt="image01" data-description="Picture description" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/tb4.jpg" data-large="/assets/pic-4.jpg" alt="image01" data-description="Picture description" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/tb5.jpg" data-large="/assets/pic-5.jpg" alt="image01" data-description="Picture description" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/tb6.jpg" data-large="/assets/pic-6.jpg" alt="image01" data-description="Picture description" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/tb7.jpg" data-large="/assets/pic-7.jpg" alt="image01" data-description="Picture description" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/tb8.jpg" data-large="/assets/pic-8.jpg" alt="image01" data-description="Picture description" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
      </div>
      <!-- rg-thumbs -->
    </div>
    <!-- rg-gallery -->
  </div>




<!-- <img src="/assets/top-banner.jpg">
<img src="/assets/MINI-talk.jpg">

<img src="/assets/MINI-randompost.jpg">
<img src="/assets/MINI-contact.jpg">
<img src="/assets/MINI-gallery.jpg"> -->
</div>  

</body>

<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">  
  <div class="rg-image-wrapper">
    {{if itemsCount > 1}}
      <div class="rg-image-nav">
          <a href="#" class="rg-image-nav-prev">Previous Image</a>
          <a href="#" class="rg-image-nav-next">Next Image</a>
      </div>
    {{/if}}
    <div class="rg-image"></div>
    <div class="rg-loading"></div>
  </div>
</script>






</html>
