<!-- <div class="navbar">
  <a href="/#2">Return to Portfolio</a>
</div> -->

<div class="ppanel">
  <div class="pdesc">
    <h1><span>Seatyourself</span></h1>
    <div class="borders"></div>

    <p>Seatyourself is a restaurant platform, inspired by OpenTable, which allows users to view and create restaurants as well as reservations.</p>
  </div>

  <div class="lightbox">

  <ul class="clearing-thumbs clearing-feature" data-clearing>
    <li><a href="/assets/s3.png"><img src="/assets/s3.png"></a></li>
    <li class="clearing-featured-img"><a href="/assets/s1.png"><img src="/assets/s1t.png" ></a></li>
    <li><a href="/assets/s2.png"><img src="/assets/s2.png"></a></li>
</ul>

</div>

  <div class="pfeat">
    <h1><span>Features</span></h1>
    <div class="border2s"></div>
      
    <p>
      Built using Ruby on Rails 4 
      <br />
      Bootstrap responsive framework
      <br />
      Geolocation using Geocoder
      <br />
      HTML,CSS,JavaScript
      <br />
    </p>
  </div>


</div>