<!DOCTYPE html>
<html>

<head>
 
</head>
<body>

<div class="bmain">

  <h1>
    <p data-scrollreveal="enter top, after 0.3s">
      Phil's Blog
    </p>

    </h1>
  <h3 data-scrollreveal="enter left, after 0.3s">My adventures as a Programmer</h3>


  <div class="bcontent">

  <% @posts.each do |post| %>

  <%= post.created_at.strftime("%d %b 20%y") %>

    <div class="btable">
      <h2>
          <span><%= post.title %></span>
      </h2>
      

      <p><%= post.text %></p>
    </div>

      <p>
        <center><%= image_tag post.image_url(:thumb) %></center>
      </p>


  <% end %>

  </div>
  
    
  



</div>

</body>
</html>