// Place all the styles related to the home controller here.
// They will automatically be included in application.mids.
// You can use Sass (SmidS) here: http://sass-lang.com/

#intro { 
  background: url(intro.jpg) left no-repeat; 
}

#intro h1 {
  width: 668px; height: 100px;
  background: url(logo3.png); text-indent: -9999px;
  position: relative; top: 145px; left: 50px;
}

#intro p {
  position: relative; top: 150px; left: 80px;
  width: 508px; margin: 0 0 30px 0;
}
#intro p:nth-child(2) {
  font-weight: bold;
  color: white;
}

#mid{
  background-image: -webkit-linear-gradient(top, #575C5C 0%, #262626 100%);
}

#mid h1 {
  width: 668px; height: 100px;
  background: url(portfolio.png); text-indent: -9999px;
  position: relative; top: 145px; left: 450px;
}

#mid p {
  position: relative; top: 150px; left: 550px;
  width: 508px; margin: 0 0 30px 0;
  font-weight: bold;
  color: white
}

#end{
  background-image: -webkit-linear-gradient(top, #262626 0%, #22C997 100%);
}

#end h1 {
  width: 668px; height: 100px;
  background: url(contact.png); text-indent: -9999px;
  position: relative; top: 145px; left: 300px;
}

#end p {
  position: relative; top: 150px; left: 550px;
  width: 508px; margin: 0 0 30px 0;
  font-weight: bold;
  color: white
}


.fi-mail{
  font-size: 5em;
  color: white
}

.fi-social-linkedin{
  font-size: 5em;
  color: white
}

.fi-social-twitter{
  font-size: 5em;
  color: white
}

.fi-social-github{
  font-size: 5em;
  color: white
}

#contact{
  padding-top: 12em;
  width: 50%;
  margin: 0 auto
}

a{
  color: white;
}