// Place all the styles related to the home controller here.
// They will automatically be included in application.mids.
// You can use Sass (SmidS) here: http://sass-lang.com/

#intro { 
  background: image-url('slide1.jpg') no-repeat; 
}

#intro h1 {
  width: 668px; height: 100px;
  background: url(intro.png); text-indent: -9999px;
  position: relative; top: 145px; left: 50px;
}

#intro p {
  position: relative; top: 150px; left: 80px;
  width: 508px; margin: 0 0 30px 0;

}
#intro p:nth-child(2) {
  color: white;
  font-size: 180%;
}

#mid{
  // background-color: white
  background: image-url('machd.png') no-repeat; 
}

#mid h1 {
  width: 268px; height: 60px;
  background: url(portfolio.png); text-indent: -9999px;
  display: inline-block;
  position: absolute;
  top: 0.5em;
  left: 11em;

}

.porth{
  position: relative; top: 2em; 
  height: 100px;
  width: 10%;
  display: inline-block;
  
}

#mid p {
  position: absolute; top: 150px; left: 550px;
  background-color: white
}


#end{
  
  background-image: -webkit-linear-gradient(top, #FFF 0%, #0099cc 100%);
}

#end h1 {
  width: 374px; height: 95px;
  background: url('contact.png'); text-indent: -9999px;
  position: relative; top: 5em; 
  margin: 0 auto;
}

#end p {
  position: relative; top: 150px; left: 550px;
  width: 508px; margin: 0 0 30px 0;
  font-weight: bold;
  color: white
}


a{
  color: white;
  font-size: 64%;
}

a:hover{
color: black;

}

#boxes{
  height: 150px;
  position: absolute;
  top: 40%;
  width: 100%;
  margin: auto;
  text-align: center;
}

#boxes .box{
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 0 10px;
  overflow: hidden;
  font-size: 150%;
  font-weight: 200;
  text-align: center;
  line-height: 90px;
  
  cursor: default;
}

#boxes .box:before{
  width: 150px;
  display: block;
  font-family: 'foundation-icons', sans-serif;
  font-size: 480%;
  line-height: 150px;
  color: white;
  transition: font-size .5s, line-height .5s;
  -webkit-transition: font-size .5s, line-height .5s;
}

#boxes .box:hover:before{
  font-size: 200%;
  line-height: 50px;
}

#boxes .mail:before { content: "\f16d"; }
#boxes .github:before { content: "\f1c9"; }
#boxes .linkedin:before { content: "\f1d0"; }
#boxes .twitter:before { content: "\f1e4"; }

.panela{
  position: absolute;
  top: 200px;
  width: 100%;
  height: 600px;
  left: 10em
}  

.panelh{
  height: 100px;
  width: 9%;
  display: inline-block

}

.panelp:before{
  transition: font-size .5s, line-height .5s;
  -webkit-transition: font-size .5s, line-height .5s;
}

#crowdfunder{
  display: inline-block;
  padding-right: 8em;

}

#ptitle1{
 font-size: 1.5em;
 padding-bottom: 1em;
 text-align: center

}

#seatyourself{
  display: inline-block;
}

#ptitle2{
 font-size: 1.5em;
 padding-bottom: 1em;
 text-align: center;
 padding-bottom: 1em

}

.hover:hover{
  opacity: 0.4;

}

