// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .blogtable {
//   background: #1567b7;
//   color: white;
//   height: 100%;
//   width: 100%;
// }

// .blogtable a{
//   color: black
// }

.bmain{
  background-color: #1567b7;
  height: 100%;
  width: 100%;
  background: asset-url('end.jpg'); 
  box-shadow: inset 0 0 0 1000px rgba(21, 103, 183, 0.6);
}

.bmain h1{
  position: relative; 
  top: 0em; 
  font-size: 5em;
  color: white;
  font-weight: bold;
  text-align: center
}

.bmain h2{
  font-size: 2em;
  color: white;
  font-style: italic
}

.bmain h3{
  position: relative; 
  font-size: 1em;
  color: white;
  text-align: center;
  font-style: oblique;
  top: -1em;
}

.btable{
  margin-right: 40%;
  position: relative
}

.btable h2 {
  font-size: 2em;
  padding-top: 2%;
  text-align: center;
}

// .btable h2 span {
//     padding:0 10px; 
//     position: absolute;

// }

.borderb{
  border: 1px solid white;
}

.btable p{
 padding-left: 10%;
 color: white;
}
