// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .blogtable {
//   background: #1567b7;
//   color: white;
//   height: 100%;
//   width: 100%;
// }

// .blogtable a{
//   color: black
// }


.bmain {
overflow: scroll;
height: 100%;
}

.bmain h1{
  position: relative; 
  top: 0em; 
  font-size: 5em;
  color: #1567b7;
  font-weight: bold;
  text-align: center;
}

.bmain h2{
  font-size: 2em;
  color: #1567b7;
  font-style: italic
}

.bmain h3{
  position: relative; 
  font-size: 1em;
  color: #1567b7;
  text-align: center;
  font-style: oblique;
  top: -1em;
}

.btable{
  position: relative;

}

.btable h2 {
  font-size: 2em;
  text-align: center;
  background: white

}

.btable h2 span {
  padding: 0 10px;
  position: relative;
  display: inline-block;
  top: -0.75em;
  max-width: 80%;
  background-color: #ffffff;


}

.btable h2:before {
  border-top: 1px solid black;
  content: "";
  display: block;
  border-top: 2px solid #1567b7;
  width: 100%;
  height: 2px;
  position: absolute;
}

.btable p{
 text-align: center;
 color: #666A76;
}

.postbody{
  background: #1567b7;
  color: white
}
