// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogtable {
  background: #1567b7;
  color: white;
  height: 100%;
  width: 100%;
}

.blogtable a{
  color: black
}
